<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.sogou.permission.RECEIVE_SMS" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="miui.permission.WRITE_STEPS" />
    <uses-permission android:name="miui.permission.READ_STEPS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:description="@string/app_slogan"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HesleyTools"
        tools:targetApi="31">
        <activity
            android:name=".app.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HesleyTools">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.ui.tooldialog.ToolDialogActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/Theme.HesleyTools.Translucent" />


        <activity
            android:name=".app.about.AboutActivity"
            android:label="@string/about" />

        <activity android:name=".app.about.OSLActivity" />

        <service
            android:name=".app.services.ScriptTileService"
            android:exported="true"
            android:icon="@drawable/adb_24px"
            android:label="运行脚本"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tileservice">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>


        <service
            android:name=".app.services.rotation.LandRotationTileService"
            android:exported="true"
            android:icon="@drawable/baseline_stay_current_landscape_24"
            android:label="强制横屏"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tileservice">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".app.services.rotation.PortRotationTileService"
            android:exported="true"
            android:icon="@drawable/baseline_stay_current_portrait_24"
            android:label="强制竖屏"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tileservice">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".app.services.developer.PointerLocationTileService"
            android:exported="true"
            android:icon="@drawable/point_scan_24px"
            android:label="指针位置"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tileservice">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".app.services.HesleyToolsTileService"
            android:exported="true"
            android:icon="@drawable/service_toolbox_24px"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tileservice">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>